[flake8]
# Максимальная длина строки
max-line-length = 120

# Игнорируем некоторые предупреждения, часто конфликтующие с PEP8
ignore = E203, W503

# Папки и файлы, которые не нужно проверять
exclude = .venv, __pycache__, build, dist

# Версия Python (для проверки f-строк, type hints)
python_version = 3.13